@import '../../assets/color-pallette';

.menu .menu-item {
	padding: 10px 15px;
	cursor: pointer;
	color: $dark-green;

	&:hover, &.selected {
		background-color: $dark-green;
		color: $light-grey;
	}
}